html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-foreground: #121212;
  --primary-background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-foreground: #fff;
    --primary-background: #121212;
  }
}

body {
  color: var(--primary-foreground);
  background-color: var(--primary-background);
}
